<link rel="stylesheet" href="/assets/core/css/vendors/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/assets/core/css/common.css" type="text/css">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">


<title>{{use baseModel as="pageTitle"}}</title>
