<footer class="c-footer pt-50 pb-20 bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                {{> footer/col_about }}
            </div>

            {{> footer/col_nav }}
        </div>

        {{> footer/copyright }}
    </div>
</footer>
